[submodule "phoenix-tool-client"]
	path = phoenix-tool-client
	url = https://github.com/rkolosovs/phoenix-tool-client.git
	branch = hard_restart
[submodule "phoenix-tool-server"]
	path = phoenix-tool-server
	url = https://github.com/rkolosovs/phoenix-tool-server.git
